:root{
    --active-lk : #f51f8a;
    
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  
  body{
    width: 100%;
    height: 100vh;
    background-color: #e7e7e7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
   
  .nav-bar {
    background-color: aliceblue;
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 16px 25px; 
  }
  .navbar-nav  li{
    padding-left:30px;
    padding-right:30px;
  }
  .navbar-collapse{
    flex-grow: 0.6 !important;
  }
  
  .logo {
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 248, 248);
    margin-left: 300px !important;
    font-weight: bold;
  }
  
  li {
    list-style: none;
    margin-left: 0; 
  }
  a{
    text-decoration: none;
    text-transform: capitalize;
    gap: 30px;
    font-size: 17px;
    color:black;
    font-weight: 400;
  
  }
  
  
  .slider {
    background-size: cover !important;
    background-position: 50% 20% !important;
    padding: 200px 0;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .slider {
      padding: 150px 0;
    }
  }
  
  .slider .block h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 600;
    color: #fff !important;
  }
  .slider .block p {
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
  }
  .slider .block span {
    letter-spacing: 1px;
  }
  @media (max-width: 992px) {
    .slider .block h1 {
      font-size: 56px;
      line-height: 70px;
    }
  }
  @media (max-width: 768px) {
  
    .slider .block h1 {
      font-size: 48px;
      line-height: 62px;
    }
  }
  
  .overly, .hero-img, .cta, .slider, .page-title {
    position: relative;
  }
  .overly:before, .hero-img:before, .cta:before, .slider:before, .page-title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: #1a35ce;
  }
  
  .banner-text{
    text-align:center
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  
  .icons {
    text-align: center;
    margin-bottom: 20px;
    flex-shrink: 0;
  }
  
  .icons i {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: skyblue;
  }
  
  .icons h3 {
    font-size: 18px;
  }
  
  
  @media (max-width: 768px) {
    .icons {
      flex-basis: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .icons {
      flex-basis: 100%;
    }
  
    .icons i {
      font-size: 30px;
    }
  
    .icons h3 {
      font-size: 16px;
    }
  }
  
  
  .centertext-1{
    margin-top : 80px;
    text-align: center;
  }
  
  .centertext-1 p{
    padding-bottom: 70px;
  }
  
  .custom-card {
    height: 300px;
    width: 250px;
  }
  
  .custom-card .card-body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 0 0 60px;
    padding: 40px;
  }
  
  .custom-card .card-title {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .custom-card .card-text {
    font-size: 16px;
  }
  
  @media (max-width: 365px) {
    .row {
      flex-wrap: wrap;
    }
    
    .custom-card {
      flex: 0 0 100%;
    }
  }
  
  .text-2{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 80px;
  }
  


  .container.text3 {
    text-align: center;
    padding: 30px;
    background-color: #f8f8f8;
  }
  .container.text3 {
    text-align: center;
    padding: 30px;
  }
  
  h2.text-3 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  p.text-3 {
    font-size: 16px;
    line-height: 1.5;
  }
  
  p.text-3 strong {
    font-weight: bold;
  }
  
  .card-container {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card-icon {
    
    background-color: #f4eef5;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  
  .card-icon i {
    color: skyblue;
    margin-bottom: 10px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 14px;
    color:black;
    margin-bottom: 15px;
  }
  

  
  
  
  
    .text-4{
      text-align: center;
      padding-top: 100px;
      margin-top: 50px;
    }
    .text-4 h3{
      margin-bottom: 10px;
    }
  
    .text-4 p{
      padding-bottom: 20px;
    }
  
  
  .card3-container {
    margin: 20px;
  }
  
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  
  .custom-card3 {
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .card3-container {
    margin: 20px;
  }
  
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .custom-card3 {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .custom-card3:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-title {
    font-size: 18px;
    margin-top: 10px;
  }
  
  
  .card-text {
    margin-top: 10px;
  }
   
  
  .card3-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  
  .fa-solid {
    font-size: 80px;
    margin-bottom: 10px;
  }
  
  .custom-card3:hover .fa-solid {
    color:var(--active-lk) !important;
  }
  
  @media (max-width: 365px) {
    .row {
      flex-wrap: wrap;
    }
    
    .custom-card3 {
      flex: 0 0 100%;
    }
  }
  
  



.footer {
    background-color: #1d1919;
}

.container-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left:150px;
    padding-right:150px;
    padding-top:50px;
    background-color:rgba(rgb(31, 19, 19), green, blue, alpha);
    
    
}



.footer-about,
.footer-links,
.important-links,
.Calculators {
    margin-bottom: 20px;
    color: #fff;
    
}

.footer-about, .footer-links , .Calculators , .important-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: auto;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    color:white;
    text-decoration: none !important;
}
a:hover {
    color: var(--active-lk) !important;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    background-color: #000;
}
.footer-bottom p{
    color: #fff;
}

.footer-bottom a {
    color: #ffffff;
}

.footer-icons i {
    margin-right: 10px;
    color: #666;
}


.footer-about {
text-align: center;
}


.footer-logo {
    font-size: 24px;
    margin-bottom: 20px;

}

.footer-bottom {
text-align: center;
margin: 0;
padding-left: 0;
padding-right: 0;
background-color:#000;
}

.footer-bottom p {
margin: 0;
}

.footer-bottom a {
color: #777777;
text-decoration: none;
}

.footer-bottom a:hover {
color: #f51f8a;
}
